
@{
	Layout = "_ShopLayout";
}
<section id="about-header"
         class="h">
    <h2>#Know Us</h2>
    <p>Lorem ipsum dolor sit amet.</p>
</section>
<section id="det">
    <div class="image">
        <img src="~/img/about/a6.jpg"
             alt="" />
    </div>
    <div class="txt">
        <h2> who We Are ? </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
            doloremque exercitationem minus officiis laudantium suscipit harum
            eveniet dignissimos quasi eius, id magnam ipsam tempora quidem?
            Fugit iusto nemo officiis dolores!
        </p>
        <br />
        <marquee bgcolor="#ccc"
                 loop="-1"
                 scrollamount="5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            aliquam?
        </marquee>
    </div>
</section>
<section id="app">
    <h1>Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay
               muted
               loop
               src="~/img/about/1.mp4"></video>
    </div>
</section>
<section id="features">
    <div class="feature">
        <img src="~/img/features/f1.png"
             alt="" />
        <h6>Free Shiping</h6>
    </div>
    <div class="feature">
        <img src="~/img/features/f2.png"
             alt="" />
        <h6>Online Order</h6>
    </div>
    <div class="feature">
        <img src="~/img/features/f3.png"
             alt="" />
        <h6>Save Money</h6>
    </div>
    <div class="feature">
        <img src="~/img/features/f4.png"
             alt="" />
        <h6>Pormotions</h6>
    </div>
    <div class="feature">
        <img src="~/img/features/f5.png"
             alt="" />
        <h6>Happy Sell</h6>
    </div>
    <div class="feature">
        <img src="~/img/features/f6.png"
             alt="" />
        <h6>F24/7 Support</h6>
    </div>
</section>